{% load static from static %}
<!--爬虫界面展示-->
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
  <link rel="shortcut icon" href="{%static 'dianmo.ico'%}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>工作台</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="yinqi">
<link href="{% static 'WebPage/user/css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'WebPage/user/css/materialdesignicons.min.css'%}" rel="stylesheet">
<!--标签插件-->
<link rel="stylesheet" href="{% static 'WebPage/user/js/jquery-tags-input/jquery.tagsinput.min.css'%}">
<link href="{% static 'WebPage/user/css/style.min.css'%}" rel="stylesheet">
<!--上传插件-->

</head>

<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">

      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="{%url 'homeIndex'%}"><img src="{% static 'images/exbanner.png'%}" title="回到首页" alt="coding" /></a>
      </div>
      <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item"> <a href="{% url 'homeIndex' %}"><i class="mdi mdi-home"></i> 网站首页</a> </li>

            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-table-edit"></i> 开始创作 </a>
              <ul class="nav nav-subnav">
                <li> <a href="{% url 'Writer_markdown'%}">新建文章</a> </li>
                <li><a href="{% url 'article_index'%}">我的文章</a></li>
<!--                这里填写应用的-->
              </ul>
            </li>

            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-incognito"></i> 中文摘要生成 </a>
              <ul class="nav nav-subnav">
<!--                <li> <a href="{% url 'Abstract_Index' %}">SnowNLP单条文章</a> </li>-->
                <li><a href="{% url 'Abstract_Index_t5' %}">单条导入</a></li>
<!--                这里填写应用的-->
              </ul>
            </li>

            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-pill"></i> 中文标题生成 </a>
              <ul class="nav nav-subnav">
                <li> <a href="{% url 'Title_Index_t5'%}">单条导入</a> </li>
                <li> <a href="{%url 'Title_Index_t5_batch' %}">批量导入</a> </li>
<!--                这里填写应用的-->
              </ul>
            </li>


            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-tor"></i> 爬虫应用</a>
              <ul class="nav nav-subnav">
                <li> <a href="{% url 'Scrapy_XueXiQiangGuo_Index' %}">学习强国</a> </li>

              </ul>
            </li>





            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-paperclip"></i> 用户数据库</a>
              <ul class="nav nav-subnav">
                <li> <a href="{% url 'show_scrapy_data' %}">爬虫数据</a> </li>
                <li> <a href="{% url 'show_exp_data' %}">实验数据</a> </li>

              </ul>
            </li>

          </ul>
        </nav>

<!--        <div class="sidebar-footer">-->
<!--          <p class="copyright">Copyright &copy; 2019. <a target="_blank" href="http://lyear.itshubao.com">IT书包</a> All rights reserved.</p>-->
<!--        </div>-->
      </div>

    </aside>
    <!--End 左侧导航-->

    <!--头部信息-->
    <header class="lyear-layout-header">

      <nav class="navbar navbar-default">
        <div class="topbar">

          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> 创作平台 </span>
          </div>

          <ul class="topbar-right">
            <li class="dropdown dropdown-profile">
              <a href="javascript:void(0)" data-toggle="dropdown">
                <img class="img-avatar img-avatar-48 m-r-10" src="{{request.session.homepageuser.avatar_path}}" alt="加载失败" onerror="this.src='{% static 'images/Avatar1.png'%}'" />
                <span>我的 <span class="caret"></span></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li> <a href="{% url 'edit_personal_info_index'%}"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                <li> <a href="{% url 'edit_personal_pwd_index'%}"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                <li class="divider"></li>
                <li> <a href="{% url 'home_logout'%}"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
              </ul>
            </li>
            <!--切换主题配色-->
		    <li class="dropdown dropdown-skin">
			  <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
			  <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                <li class="drop-title"><p>主题</p></li>
                <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                    <label for="site_theme_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                    <label for="site_theme_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="site_theme" value="translucent" id="site_theme_3">
                    <label for="site_theme_3"></label>
                  </span>
                </li>
			    <li class="drop-title"><p>LOGO</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                    <label for="logo_bg_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                    <label for="logo_bg_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                    <label for="logo_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                    <label for="logo_bg_4"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                    <label for="logo_bg_5"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                    <label for="logo_bg_6"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                    <label for="logo_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                    <label for="logo_bg_8"></label>
                  </span>
				</li>
				<li class="drop-title"><p>头部</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                    <label for="header_bg_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                    <label for="header_bg_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                    <label for="header_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                    <label for="header_bg_4"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                    <label for="header_bg_5"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                    <label for="header_bg_6"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                    <label for="header_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                    <label for="header_bg_8"></label>
                  </span>
				</li>
				<li class="drop-title"><p>侧边栏</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                    <label for="sidebar_bg_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                    <label for="sidebar_bg_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                    <label for="sidebar_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                    <label for="sidebar_bg_4"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                    <label for="sidebar_bg_5"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                    <label for="sidebar_bg_6"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                    <label for="sidebar_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                    <label for="sidebar_bg_8"></label>
                  </span>
				</li>
			  </ul>
			</li>
            <!--切换主题配色-->
          </ul>

        </div>
      </nav>

    </header>
    <!--End 头部信息-->

    <!--页面主要内容-->
   {% block main_body  %}
    {% endblock %}



    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="{% static 'WebPage/user/js/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static 'WebPage/user/js/bootstrap.min.js'%}"></script>
<script type="text/javascript" src="{% static 'WebPage/user/js/perfect-scrollbar.min.js'%}"></script>
<!--标签插件-->
<script src="{% static 'WebPage/user/js/jquery-tags-input/jquery.tagsinput.min.js'%}"></script>
<script type="text/javascript" src="{% static 'WebPage/user/js/main.min.js'%}"></script>
</body>
</html>