{% extends 'homepage/base.html' %}

{% block main_body %}
<main class="lyear-layout-content">

      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <!--提交表单-->
                <form action="{% url 'homepage_dochina_words_analysis' %}" method="post" class="row">
                    {% csrf_token %}
                  <div class="form-group col-md-12">
                    <label for="seo_description">输入一段中文句子</label>
                    <textarea class="form-control" id="seo_description" name="sentence" rows="5" type="text" placeholder="例句：今天是个好天气！"></textarea>
                  </div>

                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                  </div>
                </form>
              </div>
              </div>
              <!--展示词性分析结果-->
              <div class="card">
                  <div class="card-body">
                      <label>原始句子</label>
                      <p>{{sentence}}</p>
                  </div>
              </div>
            <div class="card">
                <label>&ensp;&ensp;&ensp;词性分析结果</label>
              <div class="card-body">

              <div class="example-box">

                {% for w,v in wt %}
                  {% if v == 'n'%}
                      <button class="btn btn-w-md btn-round btn-warning">{{w}} | {{v}}</button>
                  {% elif v == 'f'%}
                   <button class="btn btn-w-md btn-round btn-warning">{{w}} | {{v}}</button>
                  {% elif v == 's'%}
                   <button class="btn btn-w-md btn-round btn-warning">{{w}} | {{v}}</button>
                  {% elif v == 't'%}
                   <button class="btn btn-w-md btn-round btn-warning">{{w}} | {{v}}</button>
                  {% elif v == 'nr'%}
                   <button class="btn btn-w-md btn-round btn-warning">{{w}} | {{v}}</button>
                  {% elif v == 'ns'%}
                   <button class="btn btn-w-md btn-round btn-warning">{{w}} | {{v}}</button>
                  {% elif v == 'nt'%}
                   <button class="btn btn-w-md btn-round btn-warning">{{w}} | {{v}}</button>
                  {% elif v == 'nw'%}
                   <button class="btn btn-w-md btn-round btn-warning">{{w}} | {{v}}</button>
                  {% elif v == 'nz'%}
                   <button class="btn btn-w-md btn-round btn-warning">{{w}} | {{v}}</button>

                  {% elif v == 'v'%}
                   <button class="btn btn-w-md btn-round btn-success">{{w}} | {{v}}</button>
                    {% elif v == 'vd'%}
                   <button class="btn btn-w-md btn-round btn-success">{{w}} | {{v}}</button>
                    {% elif v == 'vn'%}
                   <button class="btn btn-w-md btn-round btn-success">{{w}} | {{v}}</button>

                  {% elif v == 'a'%}
                   <button class="btn btn-w-md btn-round btn-info">{{w}} | {{v}}</button>
                  {% elif v == 'ad'%}
                   <button class="btn btn-w-md btn-round btn-info">{{w}} | {{v}}</button>
                  {% elif v == 'an'%}
                   <button class="btn btn-w-md btn-round btn-info">{{w}} | {{v}}</button>
                  {% elif v == 'd'%}
                   <button class="btn btn-w-md btn-round btn-info">{{w}} | {{v}}</button>

                  {% elif v == 'w'%}
                   <button class="btn btn-w-md btn-round btn-secondary">{{w}} | {{v}}</button>


                  {% else %}
                     <button class="btn btn-w-md btn-round btn-primary">{{w}} | {{v}}</button>
                  {% endif%}
                 {% endfor %}
              </div>

              </div>



            </div>
          </div>

        </div>

      </div>

    </main>


{% endblock %}